body{
	background-color:#ddd;
	text-align:center;
}

#game{
	display:inline-block;width:auto; margin: 0 auto; 
	background: white; position:relative; border:5px solid black;
	border-radius: 10px; box-shadow: 0 5px 50px #333" ;
}